[workspace]
members = ["clash", "claude_settings", "clester"]
resolver = "2"

[workspace.dependencies]
anyhow = "1"
clap = { version = "4", features = ["derive"] }
figment = { version = "0.10", features = ["json", "toml", "yaml"] }
regex = "1"
serde = { version = "1", features = ["derive"] }
serde_regex = "1"
serde_json = "1"
serde_yaml = "0.9"
thiserror = "2"
toml = "0.8"
dirs = "6.0.0"
mac-notification-sys = "0.6.9"
pest = "2"
pest_derive = "2"
tracing = "0.1.44"
tracing-subscriber = { version = "0.3.22", features = [
    "env-filter",
    "std",
    "fmt",
    "registry",
] }

# Workspace crates
claude_settings = { path = "claude_settings" }

# Dev dependencies
tempfile = "3"
toml = "0.8"
